 <!-- Modal -->
<div id="Post" class="modal fade" role="dialog">
  <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Todo</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label class="control-label" for="">Title</label>
              <input (change)='onTitleChange($event)' [value]='title' type="text" name="" id="" class="form-control">
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" (click) = 'onDone()'>Ok</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      </div>

  </div>
</div>