<div class="bee">
    <img src="{{bee.avatarUrl}}" alt="">
    <ul>
        <li>Name: {{bee.name}}</li>
        <li>Username: {{bee.username}}</li>
        <li>Email: {{bee.email}}</li>
        <li>Phone: {{bee.phone}}</li>
        <li>City: {{bee.address.city}}</li>
        <ul class="info">
            <small>
                <li>Post: <span *ngIf="bee.posts?.length > 0">{{bee.posts.length}}</span><span *ngIf="bee.posts?.length === 0">0</span></li>
                <li>Photos: <span *ngIf="bee.album?.photos.length > 0">{{bee.album.photos.length}}</span><span *ngIf="bee.album?.photos.length === 0">0</span></li>
                <!--<li>Todos: <span *ngIf="bee.album?.photos.length > 0">{{bee.album.photos.length}}</span><span *ngIf="bee.album?.photos.length === 0">0</span></li>-->
            </small>
        </ul>
    </ul>
    <button class="btn btn-primary">Select Bee</button>
</div>