.bee > img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.bee ul {
    width: 90%;
    padding-left: 0;
    list-style: none;
    color: #373737;
    font-size: 12px;
    display: block;
    margin: 12px auto;
}

.bee ul.info {
    margin-left: 0
}

.info li {
    display: inline;
}

.bee button {
    background-color: #F2385A;
    border-color: #F2385A;
    margin: 0 auto;
    display: block;
    color: #fff;
}