.card.bee-card {
    padding: 0;
}

.card > img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.card ul {
    width: 95%;
    padding-left: 0;
    list-style: none;
    color: #373737;
    font-size: 12px;
    display: block;
    margin: 12px auto;
}

.card ul.info {
    margin-left: 0
}

.info li {
    display: inline;
}

.card button {
    background-color: #F2385A;
    border-color: #F2385A;
    /*margin: 0 auto;
    display: block;*/
    color: #fff;
}

.bees {
    background-color: #F5A503;
}