<div class="container">
    <div class="col-md-3 colums bees">
        <h1>Bees</h1>
        <app-bees [bees]='bees' 
        (sendPostsFromBee)='recievePosts($event)'
        (sendTodosFromBee)='recieveTodos($event)'
        (sendAlbums)='recieveAlbums($event)'
        >Loading...</app-bees>
    </div>
    <div class="col-md-8">
        <app-bee-activity 
        [posts]='posts'
        [todos]='todos'
        [album]='album'></app-bee-activity>
    </div>
    <!--<div class="col-md-3 posts">
        <h1>Bee's Posts</h1>
        <app-posts>Loading...</app-posts>
    </div>
    <div class="col-md-3 album">
        <h1>Bee's Album</h1>

    </div>
    <div class="col-md-3 todos">
        <h1>Bee's Todos</h1>

    </div>-->
    
</div>