<div class="card">
    <p>Title: {{post.getTitle()}}</p>
    <p>Body: {{post.getBody()}}</p>
    <p>Comments: <span *ngIf="post.comments?.length > 0">{{post.comments.length}}</span><span *ngIf="post.comments?.length === 0">0</span></p>
    <div class="test" *ngIf='bee'>
        <div *ngIf='bee.getPosts().getComments().length > 0'>
            <div *ngFor="let comment of bee.getPosts().getComments()">
                <app-comment [comment]='comment'>Loading...</app-comment>
            </div>
        </div>
    </div>

    <div *ngIf='post'>
        <div *ngIf='post.getComments().length > 0'>
            <div *ngFor="let comment of post.getComments()">
                <app-comment [comment]='comment'>Loading...</app-comment>
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" (click)='sendCurrentPost(post)' data-toggle="modal" data-target="#myModal">New Comment</button>
</div>