/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fff;
}

.colums {
    margin: 20px 0;
    border-radius: 20px;
    color: #fff;
    border: 10px solid #fff;
}

.card {
    background-color: #E9F1DF;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #373737;
    font-size: 12px;
}

.card img {
    width: 100%;
}