<div class="col-md-4 colums posts">
	<h3 class="info-titles">Posts</h3>
		<app-posts (getPost)='myPostSelected($event)' [myUser]='myUser' [bee]='bee'>Loading...</app-posts>
</div>
<div class="col-md-4 colums album">
	<h3 class="info-titles">Album</h3>
	<app-album [bee]='bee'>Loading...</app-album>
</div>
<div class="col-md-4 colums todos">
	<h3 class="info-titles">Todos</h3>
	<app-todos [bee]='bee'>Loading...</app-todos>
</div>

<app-new-comment [postSelected]="postSelected" [myUser]='myUser'>Loading...</app-new-comment>
<!--<app-new-post [bee]='bee'></app-new-post>-->
<app-new-post [bee]='bee'></app-new-post>
<app-new-todo [bee]='bee'></app-new-todo>
<!--New Todo-->
